.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#333333;
  vertical-align:none;
  text-align:center;
  line-height:normal;
  text-transform:none;
}
.box_1 {
}
._图像 {
}
._标题_1 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
._标题_2 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
._标题_3 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
._标题_4 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
._标题_5 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
._标题_6 {
  font-family:'Arial Normal', 'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
._文本 {
  text-align:left;
}
.line {
}
.text_field {
  color:#000000;
  text-align:left;
}
._表单提示 {
  color:#999999;
}
._表单禁用 {
}
._流程形状 {
}
.box_3 {
  font-size:12px;
}
.heading_2 {
  font-family:'PingFang SC Negreta', 'PingFang SC';
  font-weight:bold;
  font-style:normal;
  font-size:20px;
  text-align:left;
  line-height:28px;
}
._形状 {
  font-family:'Arial Normal', 'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
  text-align:center;
  line-height:normal;
}
._文本段落 {
  text-align:left;
}
._图片_ {
}
.icon {
}
.image {
}
.droplist {
  color:#000000;
  text-align:left;
}
.form_hint {
  color:#999999;
}
.form_disabled {
}
.checkbox {
  text-align:left;
}
.text_area {
  color:#000000;
  text-align:left;
}
.box_2 {
}
.box_11 {
}
._形状1 {
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0066;
}
textarea, select, input, button { outline: none; }
